.seo-banner {
    padding: 100px 200px;
    background: linear-gradient(to bottom, rgb(23 23 23 / 93%), rgba(117, 19, 93, 0.73)), url(/src/assets/search-engine-optimization.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

button.enroll-seo {
    background: #cb47b0;
    padding: 16px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


@media only screen and (max-width: 1200px) {
    .seo-banner {
        padding: 100px 100px;
    }
}

@media only screen and (max-width: 776px) {
    .seo-banner {
        padding: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .seo-banner {
        padding: 20px;
    }
}